@font-face {
    font-family: 'Mazzard M';
    src: url('MazzardM-Light.woff2') format('woff2'),
        url('MazzardM-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Idealist Sans Light SC';
    src: url('IdealistSansLightSC.woff2') format('woff2'),
        url('IdealistSansLightSC.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'moicons';
    src: url('moicons.eot?nap448');
    src: url('moicons.eot?nap448#iefix') format('embedded-opentype'),
        url('moicons.ttf?nap448') format('truetype'),
        url('moicons.woff?nap448') format('woff'),
        url('moicons.svg?nap448#moicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

